

  h1{
    color: #877900;
    text-align: center;
  }
  p{
    color: aliceblue;
    background-color: #00000077;
    border-radius: 15px;
    font-size: large;
    line-height: 60px;
    text-align: center;
}
 h2{
  color: #877900;
  text-align: center;

}
