label.logo{
    color: #877900;
    font-size: 50px;
    line-height: 90px;
    padding: 0 100px;
    font-family: equinox;
    font-weight: bolder;
    text-transform: uppercase;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
    width: 100%;
}

#mainNav{ 
    color:  #877900;
    border-radius: 15px;
}

#mainNav ul{
background-color: #00000077;  
border-radius: 13px;
padding: 2px;margin: 0;
list-style: none;
}

#mainNav li{
display: inline;
padding: 10px 10px;
}
#mainNav ul li a{
display: inline-block;
line-height: 50px;
border-radius: 8px; 
}
#mainNav a {
color: #877900;
font-size: x-large;
text-decoration: none;
}
#mainNav li:hover{
background: #88780046;
border-radius: 13px; 
}

body{
    background-image: url(/Resources/hand3.jpg);
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    /* background-repeat: no-repeat; */
    font-family: equinox;
}